flows-invernadero.json
[
    {
        "id": "78d1d8fa3656bdbc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bec43bd593b601cc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fea20395967a7b1",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "5dea5eeee3590490f92c71114832f6b6b5277fc8546a604c81e62a874976f390-certificate.pem.crt",
        "keyname": "5dea5eeee3590490f92c71114832f6b6b5277fc8546a604c81e62a874976f390-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "1e7c14d972ffca93",
        "type": "mqtt-broker",
        "name": "AWS Endpoind",
        "broker": "a2r3yeh4fc4ud3-ats.iot.us-west-1.amazonaws.com",
        "port": "8883",
        "tls": "1fea20395967a7b1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da2a77f8368a463b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "52fdb287d0eb0c16",
        "type": "ui_group",
        "name": "temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d81a1eb81db24614",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84ffdf7fa472fe72",
        "type": "ui_group",
        "name": "gauge temp",
        "tab": "d81a1eb81db24614",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "617dc4334df745b1",
        "type": "ui_group",
        "name": "Evolucion Temperatura",
        "tab": "d81a1eb81db24614",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b43385f320034611",
        "type": "mqtt in",
        "z": "78d1d8fa3656bdbc",
        "name": "",
        "topic": "iotfrontier/pub",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1e7c14d972ffca93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "49c731bed3df2045"
            ]
        ]
    },
    {
        "id": "49c731bed3df2045",
        "type": "json",
        "z": "78d1d8fa3656bdbc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "bb46b6ed3c5aa4d4",
                "27a532c692000f0e",
                "81709f3d99fb940a"
            ]
        ]
    },
    {
        "id": "319527111c4f8eb7",
        "type": "debug",
        "z": "78d1d8fa3656bdbc",
        "name": "DEBUG TEMP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb089d47ccc829ab",
        "type": "ui_gauge",
        "z": "78d1d8fa3656bdbc",
        "name": "",
        "group": "84ffdf7fa472fe72",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "25",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "f9f28e225ace9768",
        "type": "debug",
        "z": "78d1d8fa3656bdbc",
        "name": "DEBUG HUMIDITY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb46b6ed3c5aa4d4",
        "type": "debug",
        "z": "78d1d8fa3656bdbc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "ada0c284651b9d9b",
        "type": "ui_chart",
        "z": "78d1d8fa3656bdbc",
        "name": "",
        "group": "617dc4334df745b1",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Evolución Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Cargando",
        "dot": false,
        "ymin": "20",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "27a532c692000f0e",
        "type": "function",
        "z": "78d1d8fa3656bdbc",
        "name": "msg temp",
        "func": "var msg = { payload: msg.payload.temperature };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "319527111c4f8eb7",
                "ada0c284651b9d9b"
            ]
        ]
    },
    {
        "id": "81709f3d99fb940a",
        "type": "function",
        "z": "78d1d8fa3656bdbc",
        "name": "msg hum",
        "func": "var msg = { payload: msg.payload.humidity };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "f9f28e225ace9768",
                "bb089d47ccc829ab"
            ]
        ]
    }
]